<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" [routerLink]="['/configuration']"><strong>Configuration</strong></a>
            
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/configuration/install']">Install Software</a>
                </li>
              </ul>
            </div>
    </nav>
    <br>
    <div class="row">
            <div class="col">
                    <h5>Install Softwares</h5>
            </div>
    </div>
    
</div>