<nav class="navbar navbar-light" style="background-color:#1a237e">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/enigma_title.svg" width="40" height="40" class="d-inline-block" alt="">
    <span id="title"> <strong>ENIGMA</strong></span>
  </a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>
<div class="sidebar">
  <a [routerLink]="['/home']"><i class="fas fa-home"></i> Home</a>
  <a [routerLink]="['/configuration']"><i class="fas fa-cogs"></i> Configuration</a>
  <a [routerLink]="['/transformation']"><i class="fas fa-dice-d20"></i> Transform</a>
  <a [routerLink]="['/scheduler']"><i class="far fa-clock"></i> Scheduler</a>
  <a [routerLink]="['/log']"><i class="far fa-file-alt"></i> Log</a>
  
</div>